#main_view
  background-color: white

.planet
  stroke: black
  fill: white

#planets .planet:hover
  stroke: black
  fill: black
  cursor: pointer

.button:hover
  cursor: pointer

.graphic_view
  width: 100%
  height: 600px

.centered
  transform: translate(0, 50%)

svg text
  font-size: 2em
